<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div
      style="
        font-family: Arial, sans-serif;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background-image: linear-gradient(135deg, #c40f4bef, #3a4cb4de);
      "
    >
      <img
        src="https://congressoautismoma.com.br/assets/logo-no-text-77g-YwKu.png"
        alt="logo"
        style="width: 150px"
      />
      <h1 style="color: #eaeff7">Congresso Autismo MA 2025</h1>
      <p style="color: #eaeff7">${emailBody.replace(/\n/g, "<br />")}</p>
      <p style="color: #eaeff7">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi dolorum
        dolor perspiciatis aperiam maiores laboriosam esse cumque doloremque
        harum, magni earum quisquam facilis officiis suscipit culpa illo eaque
        vero tempora!
      </p>
      <div
        style="
          text-align: center;
          padding-top: 20px;
          color: #a3aabf;
          font-size: 12px;
        "
      >
        <p>Equipe Congresso Autismo MA</p>
        <p>
          <a
            href="mailto:suporte@congressoautismoma.com.br"
            style="color: #3498db"
            >suporte@congressoautismoma.com.br</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
