.container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  & .timer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 1.5rem 2.2rem;
    border-radius: 1.5rem;
    /* width: 390px; */
    max-width: 90%;
    border: 1px solid var(--border-color);

    & h3 {
      font-size: 0.9rem;
    }

    & .boxes {
      display: flex;
      justify-content: center;
      align-items: center;

      & .box {
        padding: 0 1rem;
        color: var(--text-dark);
        & strong {
          display: block;
          font-size: 1.8rem;
        }

        & p {
          font-size: 0.7rem;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container .timer {
    padding: 1rem;
  }
}
