.container {
  background-color: var(--color-5);
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  & .content {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .bannerDesktop {
      width: 800px;
      max-width: 100%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      border-radius: 1rem;
    }

    & .bannerMobile {
      display: none;
    }

    & h3 {
      font-size: 1.8rem;
      color: var(--text-dark);
      margin-bottom: 0.5rem;
    }

    & > p {
      width: 80%;
      margin: 0.5rem auto;
      line-height: 150%;
      color: var(--text-dark-2);
    }

    /* & > strong {
      color: var(--text-dark);
      font-size: 1.75rem;
      display: block;
      max-width: 800px;
    } */
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1.5rem;
    gap: 1rem;

    & img {
      width: 350px;
      max-width: 100%;
      border-radius: 1.5rem;
      box-shadow: 0px 5px 5px 5px #b4b4b481;
    }

    & .box {
      display: flex;
      flex-direction: column;
      flex: 1 1 30%;
      position: relative;
      opacity: 0.4;
      max-width: 500px;

      & .sale {
        position: absolute;
        right: 0;
        font-size: 1.3rem;
        background-color: var(--color-1);
        padding: 0.3rem 0.5rem;
        border-radius: 0 1.5rem 0 0;
        color: var(--text-light);
      }

      & .boxContent {
        background-color: var(--color-4);
        width: 100%;
        padding: 1rem;
        border-radius: 1.5rem 1.5rem 0 0;
        border: 1px solid var(--border-color);

        & span {
          font-size: 0.8rem;
          color: var(--color-5);
        }

        & h4 {
          font-size: 1.8rem;
          margin-bottom: 0.5rem;
          color: var(--text-light);
        }

        & h5 {
          color: var(--text-light-2);
          margin-bottom: 0.3rem;
        }

        & p {
          font-size: 0.9rem;
          color: var(--text-light-2);

          & a {
            color: var(--text-light);
            transition: 0.3s all ease-in-out;
          }

          & a:hover {
            color: var(--text-dark);
          }
        }

        & p:nth-child(4) {
          margin-bottom: 0.5rem;
        }
      }

      .boxValue {
        padding: 1rem;
        background-color: var(--color-5);
        border: 1px solid var(--border-color);
        border-radius: 0 0 1.5rem 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        display: flex;

        .values {
          margin-bottom: 1rem;
        }

        & span {
          color: var(--text-dark-2);
          font-weight: 600;
        }

        & .valueTicket {
          font-size: 2rem;
          margin: 0 0 1rem 0;
          color: var(--text-dark-2);

          & s {
            color: #c4c4c4;
            font-size: 1.2rem;
          }

          & span {
            font-size: 0.8rem;
            color: #535353;
            font-weight: 500;
          }

          & .infoPrice {
            font-size: 0.8rem;
            color: #535353;
            font-weight: 500;
            display: block;
          }
        }

        & h3 {
          color: var(--text-dark-2);
          opacity: 0.9;
          margin-bottom: 0.5rem;
          font-size: 1.12rem;
        }

        & h5 {
          color: var(--text-dark-2);
          font-size: 0.8rem;
          margin: 0 0 0.5rem 0;
        }

        & ul {
          margin-left: 1rem;

          & li {
            font-size: 0.8rem;
            color: var(--text-dark-2);
            margin-bottom: 0.5rem;
          }
        }

        & > a {
          color: var(--button-primary);
          font-size: 0.8rem;
          text-align: center;
        }
      }

      & .buttons {
        margin-top: 1rem;

        & p {
          font-size: 0.7rem;
          margin-bottom: 1rem;
          text-align: center;
          padding: 1rem;
          background-color: var(--border-color);
          border-radius: 1rem;
        }

        & .button {
          margin-bottom: 1rem;

          & div {
            display: flex;
            align-items: flex-end;
            margin-top: 0.5rem;
          }

          & strong {
            color: var(--text-dark);
            margin-left: 0.5rem;
            display: block;
            margin-bottom: 0.3rem;
          }

          & span {
            font-size: 0.7rem;
            margin-left: 0.5rem;
            margin-bottom: 0.3rem;
            display: block;
            color: var(--text-dark-2);
          }
        }
      }
    }

    & [data-active="true"] {
      opacity: 1;
    }
  }
}

@media (max-width: 1060px) {
  .container {
    & .boxes {
      flex-direction: column-reverse;
      & .box {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .container {
    & .content {
      & h3 {
        font-size: 1.2rem;
      }

      & p {
        font-size: 0.9rem;
      }
      & .bannerDesktop {
        display: none;
      }

      & .bannerMobile {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
        border-radius: 1rem;
      }
    }
  }
}

.highlightText {
  background: var(--color-2);
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Poppins", "Segoe UI Emoji", "Arial", sans-serif;
  /* font-size: 1.2rem; */
  max-width: 100%;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); */
  animation: zoomInOut 2s ease-in-out infinite; /* Animação de zoom */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
