/* adminDashboard.module.css */

/* Container geral */
.dashboardContainer {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8 0%, #e0e7ef 100%);
}

/* Logo Container */
.logoContainer {
  padding: 20px 0 20px 0;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
}

/* Sidebar (aside) para desktop */
.aside {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* Drawer Content (usado tanto no desktop quanto no mobile) */
.drawerContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
}

/* Itens de navegação */
.navItem,
.exitContainer {
  padding: 15px 20px;
  color: #555;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  background: linear-gradient(135deg, #fafafa 0%, #f9f9f9 100%);
  margin-bottom: 10px;
  height: 48px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}

.navItem:hover {
  background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.active {
  background: linear-gradient(135deg, #3498db 0%, #2980b9 100%);
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Botão de sair */
[data-exit="true"] {
  align-self: flex-end;
  background: linear-gradient(135deg, #f73a3a 0%, #d62f2f 100%);
  color: #fff;
  margin-top: 100px;
}

[data-exit="true"]:hover {
  align-self: flex-end;
  background: linear-gradient(135deg, #db3333 0%, #b92929 100%);
}

/* AppBar para mobile */
.appBar {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Conteúdo principal */
.mainContent {
  flex-grow: 1;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Ajustes para mobile (telas menores que 960px) */
@media (max-width: 960px) {
  .mainContent {
    margin-top: 100px; /* Espaço para o AppBar fixo */
    margin-left: 0;
    border-radius: 0;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Ajustes para desktop (telas maiores que 960px) */
@media (min-width: 961px) {
  .mainContent {
    margin-left: 250px; /* Espaço para a sidebar fixa */
    border-radius: 12px 0 0 12px;
  }
}
